<div class="text-2xl mt-10 w-fit mx-auto">
  <div>
    A sample
    <a
      class="text-blue-500 underline"
      href="https://angular.dev/"
      target="_blank"
      >Angular</a
    >
    app built with
    <a
      class="text-blue-500 underline"
      href="https://tanstack.com/query/latest"
      target="_blank"
      >Tanstack Query</a
    >
  </div>
</div>
<div class="text-center bg-gray-100 h-52 mt-10 pt-10">
  <p>This sample app lets you view a list of animals and add new entries.</p>

  <div class="flex gap-3 text-lg justify-center mt-10">
    <button routerLink="/animals" class="btn-primary">All animals</button>
    <button routerLink="/create" class="btn-secondary">Add new animal</button>
  </div>
</div>
