<div class="border-b-1 bg-gray-50 flex flex-row">
  <img class="h-8 m-2 self-center" src="/angular.svg" />
  @for (route of routes; track route.path) {
    <a
      class="p-3 border-b-2 border-b-transparent hover:border-b-blue-500"
      routerLinkActive="border-b-blue-200"
      [routerLink]="route.path"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ route.label }}</a
    >
  }
</div>

<div class="p-2">
  <router-outlet></router-outlet>
</div>

<angular-query-devtools initialIsOpen />
