<div class="mx-auto w-fit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-3">
      <h1 class="text-2xl">Create a new animal</h1>
      <div class="flex flex-col">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="border-1 border-gray-300 p-2 rounded-md"
          formControlName="name"
        />
      </div>

      <div class="flex flex-col">
        <label for="weight">Weight</label>
        <input
          type="number"
          id="weight"
          class="border-1 border-gray-300 p-2 rounded-md"
          formControlName="weight"
        />
      </div>

      <div class="flex flex-col">
        <label for="type">Type</label>
        <select
          id="type"
          class="border-1 border-gray-300 bg-white p-2 rounded-md"
          formControlName="type"
        >
          @for (animalType of AnimalTypes; track animalType) {
            <option [value]="animalType">{{ animalType }}</option>
          }
        </select>
      </div>

      @if (createAnimal.isError()) {
        <div class="error">
          There was an error during the mutation:<br />
          <ul class="list-disc">
            @for (err of createAnimal.error().error; track err) {
              <li class="ml-3">{{ err }}</li>
            }
          </ul>
        </div>
      }

      <div class="flex flex-row">
        <button
          type="submit"
          [disabled]="createAnimal.isPending()"
          class="ml-auto btn-primary"
        >
          Create
        </button>
      </div>
    </div>
  </form>
</div>
